.title-register {
    font-size: 35px;
    text-align: center;
    font-weight: 800;
    margin-left: 70px;
}

.form-register {
    margin: 0 auto;
    max-width: 400px;
}
.btn-register {
    margin-right: 20px;
}

